---
import BaseLayout from "@/layout/BaseLayout.astro";
import Header from "@/components/header.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="contact" description="contact me">
    <Header />
    <div
        class="w-full h-full flex flex-col mx-auto items-start justify-center max-w-5xl gap-8 p-8 md:px-24 lg:px-32"
    >
        <h1 class="font-secondary text-5xl text-txt-0">contact</h1>
        <div class="gap-2 flex flex-col">
            <p class="text-base md:text-lg">
                ways to get in touch with me, in order from fastest to slowest.
            </p>
            <div class="flex flex-col items-start gap-2 mt-2">
                <div
                    class="flex items-center gap-2 text-lg md:text-xl text-txt-0 font-secondary"
                >
                    <span>discord</span>
                    <Icon name="ph:arrow-right" class="size-4 text-txt" />
                    <span>@_mini.dev</span>
                </div>
                <div
                    class="flex items-center gap-2 text-lg md:text-xl text-txt-0 font-secondary"
                >
                    <span>email</span>
                    <Icon name="ph:arrow-right" class="size-4 text-txt" />
                    <span>
                        <a
                            href="mailto:mini@ayush.gg"
                            class="hover:underline underline-offset-4"
                        >
                            mini@ayush.gg
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div></BaseLayout
>
