---
import { Image } from "astro:assets";
import miniLogo from "@/images/logo.png";
import { navBarItems } from "@/lib/utils";
---

<div class="flex items-center justify-between p-8 md:px-24 lg:px-32">
    <a href="/" class="flex gap-4 text-start items-center">
        <h1 class="font-secondary font-normal text-2xl">mini</h1>
        <Image class="size-6 rounded-full" src={miniLogo} alt="logo" />
    </a>
    <nav class="flex gap-4">
        {
            navBarItems.map((item) => (
                <a
                    href={item.href}
                    class="text-2xl font-secondary hover:underline underline-offset-4 mt-2"
                >
                    /{item.name}
                </a>
            ))
        }
    </nav>
</div>
